<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    
    <link rel="stylesheet" href="/css/site.css">
    <script src="/js/htmx.js"></script>
    <script src="/js/class-tools.js"></script>
    <script src="/js/preload.js"></script>
    <script src="/js/_hyperscript.js"></script>
<style>

  #demo-server-info {
      padding: 8px;
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
      height: 64px;
      width: 100vw;
      background-color: whitesmoke;
      border-top: 2px solid gray;
      overflow: hide;
      margin: 0px;
      z-index: 1;
  }
  #demo-server-info.show {
      max-height: 45vh;
      height: 500px;
      overflow: scroll;
  }
  #demo-activity {
      height:300px
  }

  #demo-activity div {
      vertical-align: top
  }

  #demo-activity ol li {
      list-style-position: inside;
  }

  #demo-canvas {
      margin-bottom: 500px;
      padding-top: 12px;
  }


	#demo-canvas {
		display:none;
	}

	#tabs > .tab-list {
		border-bottom: solid 3px #eee;
	}

	#tabs > .tab-list button {
		border: none;
		display: inline-block;
		padding: 5px 10px;
		cursor:pointer;
		background-color: transparent;
	}

	#tabs > .tab-list button:hover {
		color: var(--midBlue);
	}

	#tabs > .tab-list button.selected {
		background-color: #eee;
	}

	#tabs > .tab-content {
		padding:10px;
		margin-bottom:100px;
	}

</style>


</head>
<body hx-ext="class-tools, preload">
  
<title>htmx ~ Examples ~ Tabs (Using HATEOAS)</title>

</head>
<body hx-ext="class-tools, preload">


<div class="c content ">
    
  <h1>Tabs (Using HATEOAS)</h1>

  <script src="https://unpkg.com/sinon@9.0.2/pkg/sinon.js"></script>
  <script src="/js/demo.js"></script>
<div id="demo-server-info">
  <div>Server Requests<span id="request-count"></span> <a
id="request-info-toggler" onclick="toggleRequestInfo()" style="cursor:
pointer">&uparrow; Show</a></div>
  <div id="demo-activity" class="row">
      <div class="3 col" >
          <ol id="demo-timeline" reversed>
          </ol>
      </div>
      <div id="demo-current-request" class="9 col">
      </div>
  </div>
</div>

<h2><a class="zola-anchor" href="#demo" aria-label="Anchor link for:
demo">🔗</a>Demo</h2>
<div id="demo-canvas">
</div>
<div id="tabs" hx-target="this" hx-swap="innerHTML">
		<div class="tab-list" role="tablist">
			<button hx-get="/tab1" class="selected"
role="tab" aria-selected="true" aria-controls="tab-content">Tab
1</button>
			<button hx-get="/tab2" role="tab"
aria-selected="false" aria-controls="tab-content">Tab 2</button>
			<button hx-get="/tab3" role="tab"
aria-selected="false" aria-controls="tab-content">Tab 3</button>
		</div>
		<div id="tab-content" role="tabpanel"
class="tab-content">

		<h2> Tab 1 </h2>

Like an expensive sports car, fine-tuned and well-built, Portia was sleek,
shapely, and gorgeous, her red jumpsuit moulding her body, which was as warm
as seatcovers in July, her hair as dark as new tires, her eyes flashing like
bright hubcaps, and her lips as dewy as the beads of fresh rain on the hood;
she was a woman driven -- fueled by a single accelerant -- and she needed a
man, a man who wouldn't shift from his views, a man to steer her along the
right road: a man like Alf Romeo.
		-- Rachel Sheeley, winner

The hair ball blocking the drain of the shower reminded Laura she would never
see her little dog Pritzi again.
		-- Claudia Fields, runner-up
	
		</div>
</div>
</div>


<script>
  function toggleRequestInfo() {
      var classList =
document.getElementById("demo-server-info").classList;
      classList.toggle("show");
      if (classList.contains('show')) {
          document.getElementById("request-info-toggler").innerHTML =
"&downarrow; Hide"
      } else {
          document.getElementById("request-info-toggler").innerHTML =
"&uparrow; Show"
      }
  }


	onGet("/tab1", function() {
		return `
		<div class="tab-list" role="tablist">
			<button hx-get="/tab1" class="selected"
aria-selected="true" autofocus role="tab"
aria-controls="tab-content">Tab 1</button>
			<button hx-get="/tab2" role="tab"
aria-selected="false" aria-controls="tab-content">Tab 2</button>
			<button hx-get="/tab3" role="tab"
aria-selected="false" aria-controls="tab-content">Tab 3</button>
		</div>

		<div id="tab-content" role="tabpanel"
class="tab-content">

		<h2> Tab 1 </h2>

Like an expensive sports car, fine-tuned and well-built, Portia was sleek,
shapely, and gorgeous, her red jumpsuit moulding her body, which was as warm
as seatcovers in July, her hair as dark as new tires, her eyes flashing like
bright hubcaps, and her lips as dewy as the beads of fresh rain on the hood;
she was a woman driven -- fueled by a single accelerant -- and she needed a
man, a man who wouldn't shift from his views, a man to steer her along the
right road: a man like Alf Romeo.
		-- Rachel Sheeley, winner

The hair ball blocking the drain of the shower reminded Laura she would never
see her little dog Pritzi again.
		-- Claudia Fields, runner-up
		</div>`
	})

	onGet("/tab2", function() {
		return `
		<div class="tab-list" role="tablist">
			<button hx-get="/tab1" role="tab"
aria-selected="false" aria-controls="tab-content">Tab 1</button>
			<button hx-get="/tab2" class="selected"
aria-selected="true" autofocus role="tab"
aria-controls="tab-content">Tab 2</button>
			<button hx-get="/tab3" role="tab"
aria-selected="false" aria-controls="tab-content">Tab 3</button>
		</div>

		<div id="tab-content" role="tabpanel"
class="tab-content">

		<h2> Tab 2 </h2>

A Tale of Two Cities LITE(tm)
	-- by Charles Dickens

	A man in love with a girl who loves another man who looks just
	like him has his head chopped off in France because of a mean
	lady who knits.

Crime and Punishment LITE(tm)
	-- by Fyodor Dostoevski

	A man sends a nasty letter to a pawnbroker, but later
	feels guilty and apologizes.

The Odyssey LITE(tm)
	-- by Homer

	After working late, a valiant warrior gets lost on his way home.
		</div>`
	})

	onGet("/tab3", function() {
		return `
		<div class="tab-list" role="tablist">
			<button hx-get="/tab1" role="tab"
aria-selected="false" aria-controls="tab-content">Tab 1</button>
			<button hx-get="/tab2" role="tab"
aria-selected="false" aria-controls="tab-content">Tab 2</button>
			<button hx-get="/tab3" class="selected"
aria-selected="true" autofocus role="tab"
aria-controls="tab-content">Tab 3</button>
		</div>

		<div id="tab-content" role="tabpanel"
class="tab-content">

	<h2> Tab 3 </h2>
I reverently believe that the maker who made us all  makes everything in New
England, but the weather.  I don't know who makes that, but I think it must be
raw apprentices in the weather-clerks factory who experiment and learn how, in
New England, for board and clothes, and then are promoted to make weather for
countries that require a good article, and will take their custom elsewhere
if they don't get it.
		-- Mark Twain
		</div>`
	})

</script>


</body>
</html>

